*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Colors */
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

    /*** Typography ***/

    /* Font Size */
    --font-size: 0.9375rem; /* 15px */

    /* Font-Weight */
    --font-weight-400: 400;
    --font-weight-700: 700;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: var(--Slate-300);

    /* Used flex layout to center QR container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-container{

    background-color: var(--white);

    /* Used flex layout to center elements in container */
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
    padding: 1rem;
    max-width: 20rem;

    /* shadow */
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.1);
}

/* qr code properties */

.qr-container img{
    max-width: 100%;
    display: block;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

/* h2 properties */
.qr-container h2{
    font-size: 1.5rem;
    font-weight: var(--font-weight-700);
    color: var(--Slate-900);
    margin-bottom: 1rem;
    text-align: center;
}

/* p properties */
.qr-container p{
    font-size: var(--font-size);
    font-weight: var(--font-weight-400);
    color: var(--Slate-500);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

