*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Colors */
    --white: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

    /*** Typography ***/

    /* Font Size */
    --font-size-sm: 0.9375rem; /* 15px */
    --font-size-md: 1.375rem; /* 22px */


    /* Font-Weight */
    --font-weight-400: 400;
    --font-weight-700: 700;

    /* Spacing */
    --space-200:1rem; /* 16px */
    --space-300: 1.5rem; /* 24px */
    --space-500: 2.5rem; /* 40px */
}

body{
    
    font-family: "Outfit", sans-serif;
    background-color: var(--Slate-300);

    position: relative;
    height: 100vh;
}

.container{

    background-color: var(--white);

    /* Used flex layout to center elements in container */

    border-radius: 2rem;
    padding: var(--space-200);
    width: 20rem;

    /* Position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}

/* qr code properties */

.container img{
    max-width: 100%;
    display: block;
    border-radius: 2rem;
    margin-bottom: var(--space-300);
}

/* Text properties */

h2{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-700);
    color: var(--Slate-900);
    margin-bottom: var(--space-200);
}

p{
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-400);
    color: var(--Slate-500);
}

div{
    text-align: center;
    margin-bottom: var(--space-300);
    padding-inline: var(--space-200);
}


